<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>LEXUS雷克萨斯官网</title>
<link rel="stylesheet" href="../style/css/common.css">
<link rel="stylesheet" href="../style/css/index.css">
<link rel="stylesheet" type="text/css" href="../font/iconfont.css">
<link rel="stylesheet" type="text/css" href="../style/css/goodsdetail.css">
</head>
<body>
<!-- header -->
    <div class="header">
        <div class="headerCon">
            <div class="logo">
                <a href="index.html"><img src="../img/index/logo-1.png"></a>
            </div>
            <div class="hideList">
                <a href="javascript:;" class="hideListBtn1"><i class="iconfont icon-liebiao"></i></a>
                <a href="javascript:;" class="hideListBtn2">&times;</i></a>
            </div>
            <div class="welcome">
                <a href="javascript:;" class="welcomeUser">欢迎 <%= username %></a><span> / </span>
                <a href="javascript:;" class="MyAccount">我的账户</a>
                <a href="index.html" class="byebye">退出</a>
            </div>
            <ul class="navList">
                <li><a href="javascript:;">车型总览</a><span></span></li>
                <li><a href="javascript:;">品牌天地</a></li>
                <li><a href="javascript:;">智•混动</a></li>
                <li><a href="javascript:;">F高性能系列</a></li>
                <li><a href="javascript:;">车主服务</a></li>
                <li><a href="news.html">新闻资讯</a></li>
                <li class="empty"><a href="javascript:;">查询经销商</a></li>
            </ul>
            <div class="showList">
                <div class="showLi showLiA">
                    <div class="showLiLeft">
                        <ul class="list1">
                            <li><a href="javascript:;">
                                <i>CT</i>
                                <img src="../img/index/ct.png">
                                <p>紧凑型豪华两厢车</p>
                                <span>建议售价229,000起</span>
                            </a></li>
                        </ul>
                        <ul class="list1">
                            <li><a href="javascript:;">
                                <i>IS</i>
                                <img src="../img/index/is.png">
                                <p>中型豪华运动轿车</p>
                                <span>建议售价324,900起</span>
                            </a></li>
                            <li><a href="javascript:;">
                                <i>ES</i>
                                <img src="../img/index/es.png">
                                <p>中大型豪华行政级轿车</p>
                                <span>建议售价298,000起</span>
                            </a></li>
                            <li><a href="javascript:;">
                                <i>GS</i>
                                <img src="../img/index/gs.png">
                                <p>中大型豪华运动轿车</p>
                                <span>建议售价459,000起</span>
                            </a></li>
                            <li><a href="javascript:;">
                                <i>LS</i>
                                <img src="../img/index/ls.png">
                                <p>旗舰级豪华轿车</p>
                                <span>建议售价1,490,000起</span>
                            </a></li>
                        </ul>
                        <ul class="list1">
                            <li><a href="javascript:;">
                                <i>NX</i>
                                <img src="../img/index/nx.png">
                                <p>中型豪华SUV</p>
                                <span>建议售价318,900起</span>
                            </a></li>
                            <li><a href="javascript:;">
                                <i>RX</i>
                                <img src="../img/index/rx.png">
                                <p>中大型豪华SUV</p>
                                <span>建议售价418,000起</span>
                            </a></li>
                            <li><a href="javascript:;">
                                <i>GX</i>
                                <img src="../img/index/gx.png">
                                <p>大型豪华SUV</p>
                                <span>建议售价848,000起</span>
                            </a></li>
                            <li><a href="javascript:;">
                                <i>LX</i>
                                <img src="../img/index/lx.png">
                                <p>全尺寸豪华SUV</p>
                                <span>建议售价1,396,000起</span>
                            </a></li>
                        </ul>
                        <ul class="list1">
                            <li><a href="javascript:;">
                                <i>RC</i>
                                <img src="../img/index/rc.png">
                                <p>中型豪华轿跑车</p>
                                <span>建议售价488,000起</span>
                            </a></li>
                        </ul>
                        <ul class="list1">
                            <li><a href="javascript:;">
                                <i>SKYJET</i>
                                <img src="../img/index/skyjet.png">
                                <p>单人太空飞船</p>
                                <span>仅限瓦莱利安币购买</span>
                            </a></li>
                            <li><a href="javascript:;">
                                <i>YACHT</i>
                                <img src="../img/index/yacht.png">
                                <p>概念运动游艇</p>
                                <span>暂无量产计划</span>
                            </a></li>
                        </ul>
                    </div>
                    <div class="showLiRight">
                        <div class="list2">
                            <p></p>
                            <a href="javascript:;"><img src="../img/index/pic-1.jpg"></a>
                        </div>
                        <ul class="list3">
                            <li>
                                <p></p>
                                <a href="javascript:;"><img src="../img/index/pic-2.jpg"></a>
                            </li>
                            <li>
                                <p></p>
                                <a href="javascript:;"><img src="../img/index/pic-3.jpg"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="showLi showLiB">
                    <div class="showLiLeft">
                        <ul class="showBList">
                            <li><a href="javascript:;" class="showBListA">品牌历史</a></li>
                            <li><a href="javascript:;" class="showBListA">匠人匠心</a></li>
                            <li><a href="javascript:;" class="showBListA">设计理念</a></li>
                            <li><a href="javascript:;" class="showBListA">环保理念</a></li>
                            <li><a href="javascript:;" class="showBListA">概念车</a></li>
                            <li>
                                <a href="javascript:;" class="showBListA">全球品牌活动</a>
                                <ul class="showBListD">
                                    <li><a href="javascript:;">雷克萨斯品牌杂志</a></li>
                                    <li><a href="javascript:;">雷克萨斯全球品牌广告</a></li>
                                    <li><a href="javascript:;">雷克萨斯全球设计大奖</a></li>
                                    <li><a href="javascript:;">雷克萨斯品牌体验空间</a></li>
                                    <li><a href="javascript:;">雷克萨斯全球微电影</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="showLiRight">
                        <div class="showCList showCList1">
                            <div class="top">
                                <h4>品牌历史</h4>   
                                <p>回眸岁月，雷克萨斯前行之路上成就不止：</p>    
                                <p>所有的一切，都诉说着雷克萨斯历日旷久的斐然业绩，更预言着品牌未来的前进方向。</p>    
                            </div>
                            <div class="bottom"><img src="../img/index/pic-4.jpg"></div>
                        </div>
                        <div class="showCList showCList1">
                            <div class="top">
                                <h4>匠人匠心</h4>   
                                <p>雷克萨斯倾注匠心于产品，造就每一个细节的极致，从看到它驾驭它，都能感受到人车合一的共鸣</p>    
                            </div>
                            <div class="bottom"><img src="../img/index/pic-5.jpg"></div>
                        </div>
                        <div class="showCList showCList1">
                            <div class="top">
                                <h4>设计理念</h4>   
                                <p>L-finesse预纯妙是雷克萨斯全线产品的设计哲学</p>    
                            </div>
                            <div class="bottom"><img src="../img/index/pic-6.jpg"></div>
                        </div>
                        <div class="showCList showCList1">
                            <div class="top">
                                <h4>环保理念</h4>   
                                <p>注重节约，能源效率至上，将汽车整个生命周期对环境的有所影响降至最低</p>    
                            </div>
                            <div class="bottom"><img src="../img/index/pic-7.jpg"></div>
                        </div>
                        <div class="showCList showCList1">
                            <div class="top">
                                <h4>概念车</h4>   
                                <p>L-finesse预纯妙是雷克萨斯全线产品的设计哲学</p>    
                            </div>
                            <div class="bottom"><img src="../img/index/pic-8.jpg"></div>
                        </div>
                        <div class="showCList showCList1">
                            <div class="top">
                                <h4>全球品牌活动</h4>   
                                <p>时刻关注有意义的创新，激发出前瞻领先的情感</p>    
                            </div>
                            <div class="bottom"><img src="../img/index/pic-9.jpg"></div>
                        </div>
                    </div>
                </div>
                <div class="showLi showLiB">
                    <div class="showLiLeft">
                        <ul class="showBList">
                            <li><a href="javascript:;" class="showBListA">智•混动</a></li>
                        </ul>
                    </div>
                    <div class="showLiRight">
                        <div class="showCList">
                            <div class="top">
                                <h4>智·混动</h4>   
                                <p>智，在于兼顾自我与社会；在于坐享时代的巅峰；在于深感速度的激情；在于纯净澎湃的动力；<br/>
                                    在于尽揽六大车系，驾驭七款智·混动车型；兼备超凡之举，方为大智所驱。</p>    
                            </div>
                            <div class="bottom"><img src="../img/index/pic-7.jpg"></div>
                        </div>
                    </div>
                </div>
                <div class="showLi showLiB">
                    <div class="showLiLeft">
                        <ul class="showBList">
                            <li><a href="javascript:;" class="showBListA">F高性能系列</a></li>
                        </ul>
                    </div>
                    <div class="showLiRight">
                        <div class="showCList">
                            <div class="top">
                                <h4>F高性能系列</h4>   
                                <p>F的精神，由赛道传奇延续至平素驾控。无论何时何地，酣畅的驾控快感从无休止。</p>    
                            </div>
                            <div class="bottom"><img src="../img/index/pic-10.jpg"></div>
                        </div>
                    </div>
                </div>
                <div class="showLi showLiB">
                    <div class="showLiLeft">
                        <ul class="showEList">
                            <li><a href="javascript:;" class="showEListA">售后服务</a></li>
                            <li><a href="javascript:;" class="showEListA">e-LEXUS CLUB智能手机应用</a></li>
                            <li><a href="javascript:;" class="showEListA">雷克萨斯智能副驾G-BOOK</a></li>
                            <li><a href="javascript:;" class="showEListA">雷克萨斯手机互联</a></li>
                            <li><a href="javascript:;" class="showEListA">雷克萨斯汽车精品</a></li>
                            <li><a href="javascript:;" class="showEListA">雷克萨斯生活精品</a></li>
                        </ul>
                    </div>
                    <div class="showLiRight">
                        <div class="showCList showCList2">
                            <div class="top">
                                <h4>售后服务</h4>   
                                <p>雷克萨斯售后服务，全心投入，只为您全心满意。</p>    
                            </div>
                            <div class="bottom"><img src="../img/index/pic-11.jpg"></div>
                        </div>
                        <div class="showCList showCList2">
                            <div class="top">
                                <h4>e-LEXUS CLUB智能手机应用</h4>   
                                <p>雷克萨斯车主可以通过本应用程序随时随地享受雷克萨斯尊崇服务,畅享智能驾车新境界。</p>    
                            </div>
                            <div class="bottom"><img src="../img/index/pic-13.jpg"></div>
                        </div>
                        <div class="showCList showCList2">
                            <div class="top">
                                <h4>雷克萨斯智能副驾G-BOOK</h4>   
                                <p>撷取科技灵感，为您带来超乎期许的尊贵体验；以绝妙创想，开启智能驾车新享受。</p>    
                            </div>
                            <div class="bottom"><img src="../img/index/pic-14.jpg"></div>
                        </div>
                        <div class="showCList showCList2">
                            <div class="top">
                                <h4>雷克萨斯手机互联</h4>   
                                <p>将您的手机与雷克萨斯互联，自如掌控丰富的多媒体功能，尽享互联带来的驾乘体验。</p>    
                            </div>
                            <div class="bottom"><img src="../img/index/pic-15.jpg"></div>
                        </div>
                        <div class="showCList showCList2">
                            <div class="top">
                                <h4>雷克萨斯汽车精品</h4>   
                                <p>安全个性化的雷克萨斯汽车精品，进一步提升雷克萨斯整车魅力的同时，为顾客提供更加舒适性的驾乘乐趣。</p>    
                            </div>
                            <div class="bottom"><img src="../img/index/pic-16.jpg"></div>
                        </div>
                        <div class="showCList showCList2">
                            <div class="top">
                                <h4>雷克萨斯生活精品</h4>   
                                <p>别具匠心的LEXUS COLLECTION，将雷克萨斯优雅细腻的品牌质感融入生活，彰显追求完美的生活造诣。</p>    
                            </div>
                            <div class="bottom"><img src="../img/index/pic-17.jpg"></div>
                        </div>
                    </div>
                </div>
                <div class="showLi showLiB">
                    <div class="showLiLeft">
                        <ul class="showBList">
                            <li><a href="javascript:;" class="showBListA">新闻资讯</a></li>
                        </ul>
                    </div>
                    <div class="showLiRight">
                        <div class="showCList">
                            <div class="top">
                                <h4>新闻资讯</h4>   
                                <p>在这里您可以浏览关于雷克萨斯的所有资讯及优惠活动。</p>    
                            </div>
                            <div class="bottom"><img src="../img/index/pic-12.jpg"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hideListShow">
                <ul class="SecList">
                    <li><a href="javascript:;">车型总览</a></li>
                    <li><a href="javascript:;">品牌天地</a></li>
                    <li><a href="javascript:;">智•混动</a></li>
                    <li><a href="javascript:;">F高性能系列</a></li>
                    <li><a href="javascript:;">车主服务</a></li>
                    <li><a href="javascript:;">新闻资讯</a></li>
                    <li><a href="javascript:;">查询经销商</a></li>
                    <li><a href="javascript:;">预约试驾</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="GDcontent">
        <div class="GDnav">
            <a href="javascript:;">雷克萨斯</a>>
            <a href="javascript:;">SUV</a>>
            <a href="javascript:;">LX570</a>
        </div>
        <form action="javascript:;" class="GDform">
            <div class="GDshow">
                <div class="GDimg"><img src="../img/Goodslist/goods.jpg"></div>
                <div class="GDinfo">
                    <div class="GDinfoTitle">
                        <!-- title1 -->
                        <h5 style="font-size:16px"><%= goodsdetail.goodsid %></h5>
                        <!-- title2 -->
                        <p style="font-size:16px;line-height:32px;"><%= goodsdetail.goodsname %></p>
                    </div>
                     <!-- price -->
                    <div class="GDinfoPrice"><p>售价：</p><h5>￥<span><%= goodsdetail.goodsprice %></span></h5></div>
                    <div class="GDinfoColor"><p>颜色：</p><div class="GDinfoColorList">
                         <!-- color -->
                        <select name="" id="GDinfoColorChose">
                            <option selected>请选择颜色</option>
                            <option>象牙白</option>
                            <option>灰黑色</option>
                            <option>酒红色</option>
                            <option>灰色</option>
                        </select>
                    </div></div>
                    <div class="GDinfoNum"><p>数量：</p><div class="GDinfoNumList">
                         <!-- number -->
                        <input type="text" class="GDinfoNumShow" value="1">
                        <a href="javascript:;" class="GDinfoNumDown"></a>
                        <a href="javascript:;" class="GDinfoNumUp"></a>
                    </div></div>
                    <div class="GDinfoControl">
                        <a href="javascript:;" class="GDinfoConTozm">放入暂存架</a>
                        <a href="javascript:;" class="GDinfoConToCart" data-id="1">加入购物车</a>
                        <div class="GDinfoConBuy">
                            <p>扫一扫购买<i></i></p>
                            <div class="GDinfoConBuyPic"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <ul class="GDchose">
            <li style="width:100%"><p>review</p><span>商品评论/咨询</span></li>

            <% comments.forEach(function(comment){ %>
            <li class="commentList">
                <p class="commentText"><%= comment.comment %></p>
                <p class="commentTit"><%= comment.username %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= comment.time %></p>
            </li>
            <% }) %>

        </ul>
        <form action="Addcomment" method="post" id="commentGO" style="width:600px;margin:0 auto;">
            <input type="hidden" name="goodsid" value="<%= goodsdetail.goodsid %>">
            <textarea name="comment" id="writeComment" style="width:600px;height:100px;margin:0 auto;resize:none;outline:none;padding:5px 10px;font-size:14px;box-shadow:0 3px 5px #ccc"></textarea>
            <input type="submit" value="提交评论" style="width:100px;height:30px;border:none;border-radius:3px;background:#ff6700;color:#fff;cursor:pointer">
            <p id="errMsg" style="display:none;"></p>
        </form>
    </div>


<!-- footer -->
    <div class="footer">
        <div class="footOne">
            <div class="footTop">
                <ul class="footOneList">
                    <li><a href="javascript:;">网站地图</a></li>
                    <li><a href="javascript:;">认证二手车</a></li>
                    <li><a href="javascript:;">e-LEXUS CLUB</a></li>
                    <li><a href="javascript:;">经销商招募</a></li>
                    <li><a href="javascript:;">人才招聘</a></li>
                    <li><a href="javascript:;">联系我们</a></li>
                    <li><a href="javascript:;">法律声明</a></li>
                    <li><a href="javascript:;">全球网站</a></li>
                    <li><a href="javascript:;">汽车维修技术信息</a></li>
                </ul>
                <div class="footOneShare">
                    <a href="javascript:;"><i class="iconfont icon-weib"></i></a>
                    <a href="javascript:;"><i class="iconfont icon-weix"></i></a>
                    <a href="javascript:;"><i class="iconfont icon-fenxiang"></i></a>
                </div>
            </div>
            <div class="footBottom">
                <div class="botLeft">
                    <p>© 2005-2016  LEXUS雷克萨斯中国<span></span>丰田汽车（中国）投资有限公司</p>
                </div>
                <div class="botRight">
                    <a href="javascript:;">京ICP备11010962号</a><span></span>
                    <a href="javascript:;">京公网安备11010502030819</a>
                </div>
            </div>
        </div>
        <div class="footTwo">
            <ul class="footTwoList">
                <li><a href="javascript:;">网站地图</a></li>
                <li><a href="javascript:;">认证二手车</a></li>
                <li><a href="javascript:;">e-LEXUS CLUB</a></li>
                <li><a href="javascript:;">经销商招募</a></li>
                <li><a href="javascript:;">人才招聘</a></li>
                <li><a href="javascript:;">联系我们</a></li>
                <li><a href="javascript:;">法律声明</a></li>
                <li><a href="javascript:;">全球网站</a></li>
                <li><a href="javascript:;">汽车维修技术信息</a></li>
            </ul>
            <div class="footTwoText">
                <p>© 2005-2016  LEXUS雷克萨斯中国</p><p>丰田汽车（中国）投资有限公司</p>
            </div>
            <div class="footTwoShare">
                <a href="javascript:;"><i class="iconfont icon-weib"></i></a>
                <a href="javascript:;"><i class="iconfont icon-weix"></i></a>
                <a href="javascript:;"><i class="iconfont icon-fenxiang"></i></a>
            </div>
            <div class="footTwoB">
                <a href="javascript:;">京公网安备11010502030819</a>
            </div>
        </div>
    </div>
<!-- toTop -->
    <div class="toTop">
        <i class="iconfont icon-fanhuidingbu"></i>
    </div>

<!-- LoginPopup -->
    <div class="BGcover"></div>
    <div class="LoginPopup">
        <div class="LPCon">
            <a href="javascript:;" class="LPclose"></a>
            <ul class="LPConChange">
                <li class="LPentry">
                    <ul class="LPentryTit">
                        <li><a href="javascript:;" class="LPnormal LPactive">普通会员登录</a></li>
                    </ul>
                    <form action="login" method="post" id="LGFORM">
                        <div class="LPentryUi">
                            <p class="errorInfo">请输入注册手机号和密码</p>
                            <div class="LPinput">
                                <div class="LPinputW">
                                    <div class="account"><input type="text" placeholder="用户名" id="Username" name="username"></div>
                                    <div class="password"><input type="password" placeholder="您的密码" id="Password" name="password"></div>
                                </div>
                                <input type="submit" value="登录" id="LoginBtn">
                            </div>
                        </div>
                        <div class="LPbyCode">
                            <!-- <div class="LPcodePic"><img src="../img/indexImg/qrcode.png"></div> -->
                            <p class="LPcodeText">打开时尚起义APP<br/>扫描二维码</p>
                            <i></i>
                            <a href="javascript:;" class="LPbackLogin">账户登录>></a>
                        </div>
                        <div class="LPentryCh">
                            <div class="saveE">
                                <input type="checkbox"><label>7天免登陆</label>
                            </div>
                            <div class="LPchose1">
                                <a href="javascript:;" id="code">扫码登录</a><span class="spanNO">|</span>
                                <a href="javascript:;" id="NewUse">新用户注册</a><span>|</span>
                                <a href="javascript:;" id="noPas">忘记密码</a>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="LPregister">
                    <form action="reg" method="post" id="REFORM">
                        <div class="LPregisterUi">
                            <div class="LPregisterMsg">
                                <div class="LPregisterMsgTI"></div>
                                <div class="Nemail"><input type="text" id="NUsername" placeholder="用户名" name="username"></div>
                                <div class="Npassword">
                                    <div class="ONEpassword"><input type="password" id="NPassword" placeholder="您的密码"></div>
                                    <div class="TWOpassword"><input type="password" id="NRPassword" placeholder="再次输入确认密码" name="password"></div>
                                </div>
                                <div class="Nuseinfo">
                                    <div class="Nusename"><input type="text" placeholder="手机号" id="NPhone"></div>
                                    <div class="Nusesex"><select name="" id="NusesexChose">
                                        <option value="">性别</option>
                                        <option value="">男</option>
                                        <option value="">女</option>
                                    </select></div>
                                </div>
                                <div class="Nphone">
                                    <div class="NYZcode"><span id="NYZcodeShow"></span><input type="text" id="Nusercode" placeholder="验证码"></div>
                                </div>
                                <div class="NuseKnow">
                                    <input type="checkbox"><label for="">我已阅读并同意</label><a href="JavaScript:;">《lexus服务条款》</a>
                                </div>
                            </div>
                            <div class="LPregisterSub">
                                <input type="submit" value="注册" class="LPregisterSubREG">
                                <a href="javascript:;" class="LPregisterSubLOG">老用户登录</a>   
                            </div>
                        </div>
                    </form>
                </li>
                <li class="TiaoZhuan">
                    <h3>注册成功</h3>
                    <a href="javascript:;">点击登录>>></a>
                </li>
            </ul>
        </div>
    </div>


<script src="../js/jquery-1.8.3.js"></script>
<script src="../js/cookie.js"></script>
<script src="../js/index.js"></script>
<script src="../js/goodslist.js"></script>
</body>
</html>
<script>
    window.onload = function(){
       
        document.getElementById("commentGO").onsubmit = function () {
            var writeComment = document.getElementById("writeComment")
            if(writeComment.value != ''){
                let username = getCookie("username");
                if(username==""){
                    document.getElementById("errMsg").style.display="block";
                    document.getElementById("errMsg").innerHTML="请先<a href='index.html'>登录！</a>";
                    return false;
                }
            }else{
                alert('请输入评论内容')
                return false
            }
       }
    }

</script>